
####################### Recommended .gitignore: #####################
# http://stackoverflow.com/questions/3719243/recommended-gitignore-file-for-python-projects

settings.py  # machine-specific

#Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]


# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Django stuff:
*.log
*.pot
