{% extends "base.html" %}
{% block title %}Generate Neotext for your website: contextual citation{% endblock %}
{% block content %}<a name="generate"></a>

<h1>Generate a new Neotext</h1>
<p>Enter the URL of a page that has "cite" attributes:</p>
<form method="post" action="">
  URL:
  <input id="generate_neotext" type="text" name="url" />
  <input type="submit" value="create" />
</form>
<a id="download-template" download target="_blank"
  href="http://download.neotext.net/quote-context/neotext-sample.html"
  > Download a Sample HTML Template</a>

{% if quotes %}
  <h2>Citations Found</h2>
  {% for quote in quotes %}
    <p><a href="{{ quote.cited_url }}">{{ quote.cited_url }}</a></p>
    <blockquote>{{ quote.citing_quote }}</blockquote>
    <p>{{ quote.json_url }}</p>
  {% endfor %}

{% endif %}

<div id="how_it_works">

  <h2>Learn How it Works</h2>

  <ol id="neotext_steps">
    <li><p>Add these snippets of javascript to the header and footer of your page:</p>
      <script src="https://gist.github.com/timlangeman/0e5235136803774d28d1b0d922e48033.js"></script>

      (<a download target="_blank" href="http://download.neotext.net/quote-context/neotext-sample.html"
        > Download a Sample HTML Template</a> |
        <a href="http://download.neotext.net/quote-context/neotext-sample.html"
        >View Sample</a>
      )
    </li>

    <li>Create a webpage with a citation, using the "cite" attribute with either
      the "<strong>blockquote</strong>" or "<strong>q</strong>" tag.

      <h3 id="examples">examples:</h3>

      <h4 id="blockquote-tag">"blockquote" tag</h4>

      <script src="https://gist.github.com/timlangeman/1ca6b5d40ae72fa587eda7cd33264315.js"></script>

      <p>Neotext can add context above and below the passage: (click arrows)</p>
      <blockquote cite="https://www.biblegateway.com/passage/?search=John+1&version=NRSV">
        In the beginning was the Word, and the Word was with God,
        and the Word was God.
        2 He was in the beginning with God.
        3 All things came into being through him,
        and without him not one thing came into being.
        What has come into being 4 in him was life,[a]
        and the life was the light of all people.
      </blockquote>

      <h4 id="q-tag">"q" tag</h4>
      <script src="https://gist.github.com/timlangeman/ea0386005e59bbf95cbd211f0ce5141f.js"></script>
      <p>Neotext adds contextual popups to "q" tags that use the "cite" attribute.
        Hover over the underlined red for the popup:</p>

      <p>Matthew 5 says: <q cite=”https://www.biblegateway.com/passage/?search=Matthew+5″>Love your enemies</q>,
      but like the Lawyer asking <q cite="https://www.biblegateway.com/passage/?search=Luke+10%3A25-37&version=NRSV">who is my neighbor?</q>,
      many try to redefine the words "love" and "neighbor" in narrow ways.
      </p>

    </li>

    <li>Enter the url for your page in the "Generate a new Neotext" section
      <a href="#generate">at the top of the page</a>.
    </li>

    <li>Reload your page.  Your citations should now be neotextified!</li>
  </ol>

  <a name="sample-code"></a>
  <h3>Code Example:</h3>
  <p>The code for displaying the looked-up information is part of a free open source jQuery plugin called <a href="https://github.com/timlangeman/quote-context/blob/master/js/quote-context.js">neotext-quote-context.js</a>, available as a <a href="http://www.neotext.net/wordpress-plugin/">wordpress</a> or <a href="http://www.neotext.net/code/">jQuery</a> plugin.</p>
  <p><iframe src="https://player.vimeo.com/video/189252945" width="736" height="460" frameborder="0" allowfullscreen="allowfullscreen"></iframe></p>
  <h4>Get simplified html source of this page</h4>
  <ol>
    <li><a href="http://www.neotext.net/neotext-sample.html" target="_blank" download="">Download neotext-sample.html</a>  (<a href="http://www.neotext.net/neotext-sample.html">view online</a>)</li>
    <li>Save the html file to your server, giving it a unique name like:
      <ul>
        <li>http://your-domain.com/neotext-sample.html</li>
      </ul>
    </li>
    <li>Generate the Neotext json file by <a href="http://write.neotext.net/">entering your page&#8217;s URL in the generator</a>.
      <ul>
        <li>a json file with be uploaded to Amazon S3 for each quote on the page.</li>
      </ul>
    </li>
    <li>Reload your page. You should notice the arrows appear on the blockquote; and you should get a contextual popup if you click on &#8220;Love your enemies&#8221;.</li>
  </ol>



</div>

{{ posted_url }}

{% endblock %}
