{% extends 'base.html' %}
{% load neotext_filters %}
{% block title %}Neotext.net : {% endblock %}

{% block breadcrumbs %}
   <a href="/url/">url</a> &gt; <a href="www.openpolitics.com/2016/05/13/ted-nelson-philosophy-of-hypertext/">
     www.openpolitics.com</a>
{% endblock %}

{% block content %}

  {% if url %}

    {% for quote in quotes %}

      <div class="cited_before"><h3>Source:
        <a href="{{quote.cited_url}}">{{quote.cited_url|get_url_domain}}</a></h3>
        {{ quote.cited_context_before }}
      </div>
      <div class="citing_before"><h3>Source:
        <a href="{{quote.citing_url}}">{{quote.citing_url|get_url_domain}}</a></h3>
        {{ quote.citing_context_before }}
      </div>

      <blockquote>{{ quote.citing_quote }}
        <a href="{{ quote.cited_url }}"></a>
      </blockquote>
      <div class="cited_after">{{ quote.cited_context_after}}</div>
      <div class="citing_after">{{ quote.citing_context_after}}</div>
    {% endfor %}

  {% else %}
    No citations found

  {% endif %}

{% endblock %}
